.header{
    justify-content: space-between;

    display: flex;
    width :auto;
    border: 1px solid black;

}

.logo{
    width: 200px;
}

.navbar > ul{
    display: flex;
    font-size: 24px;
    list-style-type:none;
}

.navbar >ul> li{
    padding: 10px;
    margin: 10px;
}

.rescard{
    width: 200px;
    margin: 2px;
    padding: 1px;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid black;
    
    background-color: rgb(217, 233, 227);
    padding: 2px;
}
.rescard:hover{
    border: 2px solid black;
}
.resimg{
    width: 200;
    height: 100;
}
.feature{
    padding: 10px;
    font-size: 20px;
}
/* .rescard:hover{
    border: 1px solid black;
    width: 199px;
    height: 299px;

} */
.rescontainer{
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
}


.shimmer{
    width: 200px;
    height: 300px;
    margin: 2px;
    padding: 1px;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid black;
    
    background-color: aquamarine;
}
.shimmerdiv{
    display: flex;
    flex-wrap: wrap;
}
.searchbtn{
    margin: 10px;
   
}